<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>959499982468-lr7566iovccbuhirn3s5p4m6dvneds1e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.959499982468-lr7566iovccbuhirn3s5p4m6dvneds1e</string>
	<key>API_KEY</key>
	<string>AIzaSyArLUYsdGphO3Xd3knCgAVvE9lc6TtVfA0</string>
	<key>GCM_SENDER_ID</key>
	<string>959499982468</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kw4s.aile</string>
	<key>PROJECT_ID</key>
	<string>aile-1d900</string>
	<key>STORAGE_BUCKET</key>
	<string>aile-1d900.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:959499982468:ios:c249cf9a38d64e6b3714d1</string>
</dict>
</plist>